/***************************************************************/
/* Crossreads styles */
/***************************************************************/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left:20px;
  height:100%;
  font-family: Verdana;
  color: #FFF9D2;  /****/
/*
  min-width: 1050px;
  overflow-x: auto;
  zoom: 1; 
  -moz-transform: scale(1); 
  -moz-transform-origin: 0 0;
*/
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.wrapper {
  display:block;
  height:100%;
  min-width: 1050px;
  overflow-x: none;
  width:expression(document.body.clientWidth < 1050? "1050px": "auto" );
}

footer {
  display:none;
}

#warning {
  display:block;
  position:absolute;
  top:80px;
  width:80%;
  height:700px;
  background-color:#fff;
  margin:30px;
  padding:40px;
  border-bottom:solid 4px #000066;
  color:#000000;
  z-index:1001;
}

c {
  background-color: #FFF9D2;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
  width: 10px;
  height: 10px;
  line-height:1px;
  display:inline-block;
  margin:4px;
  margin-bottom:0px;
  color:black;
  cursor:pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

/*
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF9D2), to(#FFF9D2));
background: -webkit-linear-gradient(#FFF9D2, #FFF9D2);
background: -moz-linear-gradient(#FFF9D2, #FFF9D2);
background: -ms-linear-gradient(#FFF9D2, #FFF9D2);
background: -o-linear-gradient(#FFF9D2, #FFF9D2);
background: linear-gradient(#FFF9D2, #FFF9D2);
-pie-background: linear-gradient(#FFF9D2, #FFF9D2);
behavior: url(/pie/PIE.htc);
*/
}

.t1 { background-color:#9966cc;color:#9966cc;}
.t2 { background-color:#cc6666;color:#cc6666;}
.t3 { background-color:#99cc66;color:#99cc66;}
.t4 { background-color:#66cccc;color:#66cccc;}

.t1c { color:#9966cc;}
.t2c { color:#cc6666;}
.t3c { color:#99cc66;}
.t4c { color:#66cccc;}

td {
	border:1px dashed #B4A6A6;  /****/
	border-top:0;
	border-bottom:0;
	width:65px;
	padding: 9px;
	color:#B4A6A6;  /****/
}

#otherpages,
.allTextBox,
.jump,
.myleft, 
.myright, 
#mycentercolumn, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus, 
a.list-group-item.active,
#myleftcolumn img {
  border-radius: 15px;
  box-shadow: 0 0 8px #FFF9D2;  /****/
  overflow:auto;
}

a.list-group-item.active {
  box-shadow: 0 0 8px #FFF9D2; /****/
}
 
#mycentercolumn  {
	height: 400px;
  padding: 35px;
  margin:20px;
}

#myrightcolumn img   {
  margin:5px;
	width: 50px;
}
#myrightcolumn p  {
  float:left;
  margin-right:20px;
}
#myrightcolumn a {
  float:right;
}
#myrightcolumn, #mycentercolumn, #myleftcolumn  {
  display:none;
  border:0px solid green;
  background-color:#2A2A2A;   /****/
}

#mybottommetadata {
  margin-top:20px;
  min-height:260px;
}

#bottomleft div a, #bottomleft div span {
  float:right;
}

#bottomright div a, #bottomright div span {
  float:left;
}

#bottomleft {
  padding-right:0;
}

#bottomcenter {
  padding-left: 0;
  margin-right:20px;
  text-align:center;
}

#bottomcenter a {
  display:block;
}

.jump {
  float:left;
  width:220px;
  padding: 20px;
  color:#B4A6A6;  /****/
}

.mybottom {
  float:left;
	height: 120px;
}

.jumbotron {
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:5px;
}

.container {
  margin:0 auto;  
}

.row {
  margin:0;
}

.list-group {
  margin-bottom: 0; 
}

#title h2{
  margin: 5px auto;
}


.arrowl img, .arrowr img {
  display:block;
  float:right;
  margin:0;
  width:60px;
}

.arrow img:hover, .arrowt img:hover, .arrowb img:hover{
  opacity: 0.3;
}

.mytag {
	height:20px;
}

p.mymeta {
  float:right;
  color:#B4A6A6; /****/
  padding-bottom:10px;
}

#myrightcolumn {
  padding-top: 25px;
  color:#B4A6A6; /****/
  float:left;
  font-style:italic;
}
.grey, #myarrows {
  color:#B4A6A6;
}

.navbar-inverse .navbar-brand {
	color: #FFF9D2; /****/
}

.node h2 {
	margin-top: 2px;
}

.xofy {
  float:right;
}

.xofy, .all-text {
  margin:6px;
  padding:3px;
  padding-left:5px;
  padding-right:7px;
  border:1px solid grey; /****/
  font-weight:bold;
}
.all-text {
  float:left;
}

.all-text:hover {
  margin:6px;
  padding:2px;
  padding-left:5px;
  padding-right:7px;
  border:1px solid grey; /****/
  font-weight:bold;
  text-decoration:none;
}

.legend, .mytimeline {
  float:left;
}
.legend {
  padding-left:20px;
}

.other {
  padding: 20px;
}
.other:hover {
  color:#2a2a2a; /****/
  padding: 20px;
}

.lang  {
  padding: 20px;
  font-size:9px;
}

.allTextWrapper {
  display: block; 
  position: absolute;
  top: 0;
  left: 0;
  height: 1100px; 
  width: 100%;
  opacity: .9;
  z-index: 100;
}

.allTextBox  {
  display: block;
  opacity: 0.3;
  opacity: 1; 
  overflow: auto; 
  height: auto;
  width: 70%;
  position: relative; 
  margin: 100px auto;
  z-index:100;
  padding:40px;
}

#closeAllText {
  float:right;
  z-index:100;
}

#closeAllText img {
  width:60px;  
}

#closeAllText img:hover{
  opacity: 0.3;
}

.legend {
  padding-left:20px;
}


#otherpages {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}


/*********************************************/
/*********************************************/
/*  Black and white crossreads theme */

body {
  color:#FFF9D2;
  background-color:#2A2A2A;
}

a.list-group-item.active, 
.jumbotron, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus, 
.mytag,
.allTextBox,
#mycentercolumn, 
#myleftcolumn, 
#myrightcolumn {
  color:#FFF9D2;
  background-color:#2A2A2A;
  border-color:#2A2A2A;
}

a.list-group-item.active:hover, a.list-group-item.active:focus {
  border-color:#FFF9D2;
}
.xofy, .all-text {
  color:#2a2a2a;
  background-color:#B4A6A6;
}

.all-text:hover,
.allTextWrapper,
.other,
.lang,
.legend   {
  color:#B4A6A6;
  background-color:#2a2a2a;
}

c {
  border: 0 solid red;
}

/*********************************************/
/*********************************************/
/*  White & Black crossreads theme */
/*
body {
  color:#605F53;
  background-color:#FFFFFF;
}

a.list-group-item.active, 
.jumbotron, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus, 
.mytag,
.allTextBox,
#mycentercolumn, 
#myleftcolumn, 
#myrightcolumn {
  color:#605F53;
  background-color:#FFFFFF;
  border-color:#000000;
}

a.list-group-item.active:hover, a.list-group-item.active:focus {
  border-color:#000000;
}
.xofy, .all-text {
  color:#FFFFFF;
  background-color:#000000;
}

.all-text:hover,
.allTextWrapper,
.other,
.lang,
.legend   {
  color:#000000;
  background-color:#FFFFFF;
}
*/
