
/***************************************************************/
/* table sorter styles */
/***************************************************************/
/***************************************************************/
/* Visference styles */
/***************************************************************/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left:20px;
  height:100%;
  font-family: Verdana;
  color: #FFF9D2;
  /*
  * background-image:url(../images/Photomatons-Eugeni_Bonet_1976.jpg);
  * background-repeat: repeat-x;
  */
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*************************/
/* table timeline */
c {
  background-color: #FFF9D2;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
  width: 10px;
  height: 10px;
  line-height:1px;
  display:inline-block;
  margin:4px;
  margin-bottom:0px;
  /*margin:2px 40% 2px auto;*/
  color:black;
  cursor:pointer;
  
-webkit-border-radius: 50%;
-moz-border-radius: 50%;

/*background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF9D2), to(#FFF9D2));
background: -webkit-linear-gradient(#FFF9D2, #FFF9D2);
background: -moz-linear-gradient(#FFF9D2, #FFF9D2);
background: -ms-linear-gradient(#FFF9D2, #FFF9D2);
background: -o-linear-gradient(#FFF9D2, #FFF9D2);
background: linear-gradient(#FFF9D2, #FFF9D2);
*/
-pie-background: linear-gradient(#FFF9D2, #FFF9D2);
behavior: url(/pie/PIE.htc);
  
}
/*
c.t1 { background-color:#663333;}
c.t2 { background-color:#4c6633;}
c.t3 { background-color:#336666;}
c.t4 { background-color:#4c3366;}
*/

.t1 { background-color:#9966cc;color:#9966cc;}
.t2 { background-color:#cc6666;color:#cc6666;}
.t3 { background-color:#99cc66;color:#99cc66;}
.t4 { background-color:#66cccc;color:#66cccc;}

.t1c { color:#9966cc;}
.t2c { color:#cc6666;}
.t3c { color:#99cc66;}
.t4c { color:#66cccc;}

td {
	border:1px dashed #B4A6A6;
	border-top:0;
	border-bottom:0;
	width:60px;
	padding: 9px;
	color:#B4A6A6;
}

.hero-unit {
	padding:0;
	padding-top:0;
	background-color:#EFEFEF;
}

.mycontainer:after {
	clear:none;
}

.mycontainer {
	height:100%;
}

.my {
	padding:0;
}

#right {
	position:relative;
	float:right;
	width:100px;
	font-size:14px;
}

#right p {
	text-align:center;
}

.checkbox {
	/*float:left;*/
	border:0px solid grey;
	margin-left:4px;
	padding-left:25px;
	/*width: 150px;*/
}

.prep {
	margin-bottom:70px;
}

.selparagraph {
	background-color: #ddd;
	font-weight: bold;
}

.jump,
.myleft, 
.myright, 
#mycentercolumn, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus, 
a.list-group-item.active,
#myleftcolumn img {
  border-radius: 15px;
  box-shadow: 0 0 8px #FFF9D2;
  overflow:auto;
  /*width: 90%;
  background: white;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;*/
}

a.list-group-item.active {
  box-shadow: 0 0 8px #FFF9D2;
}

.myleft, 
.myright, 
#mycentercolumn  {
	height: 400px;
  padding: 35px;
  margin:20px;
}
#mycentercolumn, #myleftcolumn, #myrightcolumn {
  background-color:#2A2A2A;
}

#myleftcolumn img   {
    margin:20px;
}

#myleftcolumn img {
	width: 200px;
}

.myleft {
	left: auto;
}
.myright {
	right: auto;
}


#myrightcolumn, #mycentercolumn, #myleftcolumn  {
  display:none;
  border:0px solid green;
  background-color:#2A2A2A;
/* 
	height: 500px;
	border:2px solid blue;
	overflow:auto;
*/
}

#mybottommetadata {
  margin-top:20px;
}

#bottomleft div a {
  float:right;
}
#bottomright div a {
  float:left;
}

.jump {
  float:left;
  width:220px;
  border-left:2px solid black;
  border-right:2px solid black;
  padding: 20px;
  color:#B4A6A6;
  box-shadow: 0 0 1px #FFF9D2;
}

.mybottom {
	height: 120px;
	border:0px solid green;
}
.jumbotron {
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:5px;
}

.container {
  border:0px solid red;
  /*width:auto;*/
  margin:0 auto;
  
}
.row {
  margin:0;
}


/*  Black and white crossreads theme */
body {
  color:#FFF9D2;
  background-color:#2A2A2A;
}
.jumbotron {
  background-color:#2A2A2A;
}

a.list-group-item.active {
  color:#FFF9D2;
  background-color:#2A2A2A;
  border-color:#2A2A2A;
}

a.list-group-item.active:hover, a.list-group-item.active:focus {
  color:#FFF9D2;
  background-color:#2A2A2A;
  border-color:#FFF9D2;
}

.list-group {
  margin-bottom: 0; 
}
#title h2{
  /*width: 50%;*/
  margin: 5 auto;
}

.arrowt img {
  float:left;
  margin:10px 50% 0 43%;
  width:60px;
  
}
.arrowb img {
  float:left;
  margin:10px 50% 0 35%; 
  width:60px;

}
.arrowl img{
  float:left;
  margin:0;
  width:60px;
}

.arrowr img{
  float:left;
  margin:0;
  width:60px;
}
.arrow img:hover, .arrowt img:hover, .arrowb img:hover{
  opacity: 0.3;
}

.mytag {
	color: #B4A6A6;
	height:20px;
}

/*.arrowt a img, .arrowb a {
  background-color:#FFF9D2;
}
*/

p.mymeta {
  float:right;
  color:#B4A6A6;
  padding-bottom:10px;
}

#myrightcolumn {
  padding-top: 25px;
  color:#B4A6A6;
  float:left;
  font-style:italic;
}

.navbar-inverse .navbar-brand {
	color: #FFF9D2;
}

.node h2 {
	margin-top: 2px;
}
.xofy {
  float:right;
  }
.xofy, .all-text {
  margin:6px;
  padding:3px;
  padding-left:5px;
  padding-right:7px;
  color:#2a2a2a;
  background:#B4A6A6;
  border:1px solid grey;
  font-weight:bold;
}
.all-text {
  float:left;
}
.all-text:hover {
  margin:6px;
  padding:3px;
  padding-left:5px;
  padding-right:7px;
  background-color:#2a2a2a;
  color:#B4A6A6;
  border:1px solid grey;
  font-weight:bold;
  text-decoration:none;
}

.legend, .mytimeline {
  float:left;
}
.legend {
  padding-left:20px;
  color:#B4A6A6;
}

.other {
  color:#B4A6A6;
  padding: 20px;
  border-left:0px dashed #B4A6A6;
  font-size:12px;
}
.other:hover {
  color:#2a2a2a;
  background:#B4A6A6;
  padding: 20px;
  border-left:0px solid #B4A6A6;
}

.lang  {
  color:#B4A6A6;
  padding: 20px;
  border-left:0px dashed #B4A6A6;
  font-size:9px;;
}


/*
fancybox-overlay fancybox-overlay-fixed
*/
.allTextBox  {
  display: block; 
  opacity: 1; 
  overflow: visible; 
  height: auto;
  width: 70%;
  position: relatibe; 
  margin: 100px auto;
  z-index:100;
  background-color:#2a2a2a;
}
.allTextWrapper {
  position: absolute;
  top: 0px;
  left: 0;
  height: 1000px; 
  width: 100%;
  opacity: 1;
  background-color:#000000;
  z-index: 100;
}
