<!doctype html>
<html lang="en" ng-App="">
  <head>
      <title>Diaries Demo</title>
  	<meta charset="utf-8" />

  	<script src="lib/angular.min.js"></script>

    <script type="text/javascript" src="js/controller.js"></script>

    <style type="text/css">

    body{

      font-family: Helvetica, Arial, sans-serif;
      background-color: #eee;
    }

      .diary-tile{
        display: inline-block;
        background-color:white;
        width:240px;
        margin:5px;
        padding:5px;
      }

      .diary-tile.expand{
        width:100%;
      }


    </style>

  </head>
  <body ng-controller="listControl">

  <div>  <h3>Order by: <select ng-model="orderField">
    <option value="author">Author</option>
    <option value="start_date[0].start_year">Date</option>
    <option value="chart[0]">Topic</option>
   </select></h3>

 </div>

    <div class="diary-tile" ng-class="{'expand':d.expand}" ng-repeat="d in diaries | orderBy:orderField">
      <button ng-click="d.expand = !d.expand; setDiaryFocus(d)">expand / collapse</button>
      <h3>{{d.title}}</h3>
      <h4>{{d.author}}</h4>
      <p>{{d.start_date[0].start_year}}-{{d.end_date[0].end_year}}</p>

      <div ng-if="d.expand" ng-include="'partials/diaryDetail.html'"></div>
    </div>



  </body>
</html>
