<!doctype html>
<html lang="en" ng-App="">
  <head>
    <title>Diaries Demo</title>
  	<meta charset="utf-8" />
  	<link rel="stylesheet" href="css/style.css">
  	<script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>

  </head>

  <body ng-controller="listControl">
    <div>  
      <h3>Order diaries by: 
        <select ng-model="orderField">
          <option value="author">Author</option>
          <option value="start_date[0].start_year">Date</option>
          <option value="chart[0]">Topic</option>
        </select>
      </h3>
    </div>
    <div class="diary-tile" ng-class="{'expand':d.expand}" ng-repeat="d in diaries | orderBy:orderField">
      <button ng-click="d.expand = !d.expand; pageExpand = false; focusDiary = d">expand / collapse</button>
      <h3>{{d.title}}</h3>
      <h4>{{d.author}}</h4>
      <p>{{d.start_date[0].start_year}}-{{d.end_date[0].end_year}}</p>
      <div ng-if="d.expand">
        <p>{{focusDiary.nid}}. No. of pages: {{focusDiary.pages[0].page_no}}</p>
        <p ng-bind="getTopic(focusDiary.chart[0][0], 0)"></p>
        <div class="chart">
          <div  class="barcontainer clear" ng-repeat = "t in focusDiary.chart | limitTo:5">
          <div class="label left">{{getTopic(t[0],0)}}</div>
          <div class="bar left" ng-style="{'width': t[1]*5 + 'px','background-color': '{{getTopic(t[0],1)}}'}">  </div>
        </div>
      </div>
      <div class="clear"></div>      
      <div class="pages">
        <img ng-src="./data/img/topicGroup-0.02-all/{{d.nid}}.gif" ng-click="d.expand; pageExpand=true; addOnClick($event, focusDiary.pages[0].page_no, d)" />
        <div id="flyingdiv" ng-if="pageExpand" ng-style="{'left':'{{focusDiary.left}}px','top':'{{focusDiary.top}}px'}"></div>
      </div>
      <div class="detail" ng-if="pageExpand">
      	<div ng-include="'partials/reader.html'"></div>
      </div>
    </div>

  </body>
</html>
