<!doctype html>
<html lang="en" ng-App="">
  <head>
    <title>Diaries Demo</title>
  	<meta charset="utf-8" />
   	<link rel="stylesheet" href="css/style.css">
  	<script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </head>
  <body ng-controller="listControl">
  <div ng-include="'partials/header.html'"></div>  
  <div class="diary" ng-repeat="d in diaries | orderBy:orderField">
	  <div class="meta" ng-class="{'expand':d.expand}" >
		  <span>{{d.title}}</span> <!-- - {{d.author}} - {{d.start_date[0].start_year}}-{{d.end_date[0].end_year}}</p> -->
	  </div>
	  <div class="pages"">
      <img ng-bind="mypath=getPath();" ng-src="./data/img/{{mypath}}/{{d.nid}}.gif" ng-click="d.expand; pageExpand=true; addOnClick($event, focusDiary.pages[0].page_no, d);"/>
      <div id="flyingdiv" ng-if="pageExpand" ng-style="{'left':'{{focusDiary.left}}px','top':'{{focusDiary.top}}px'}"></div>
    </div>
    <div class="detail" ng-if="d.expand">
	    <div ng-include="'partials/reader.html'"></div>
    </div>
  </div>

  </body>
</html>
