body {
  padding:0;
  margin:0;
  top:0;
  font-family: 'Bitter', serif;
}

pre {
  font-family: 'Bitter', serif;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

#reader-text p {
  background-color:#e9e9e9;
  border:1px solid #424242;
  padding:10px;
}

#nav {
  top:-10px;
  left:0px;
  width: 100%;
  height:30px;
  background-color:grey;
  color:white;
}

#nav ul {
  list-style-type:none;
}

#nav ul li {
  position:relative;
  float:left;
}
.nav {
  margin-left:5px;
}
.navbar-nav>li>a {
  padding:5px;
  border-right:6px solid #fff;
}
.navbar-default .navbar-nav>li>a {
  color:#000;
}
.navbar {
  margin-bottom:-1px;
  border-radius:0;
  height:20px;
}

.nav {
	margin-top:6px;
	margin-bottom:7px;
}

#submenu {
  background-color: #fff;
  margin-bottom: 0px;
  height:80px;
}

.collapsing {
  display:none;
}

.mybuttons {
  width:400px;
  float:left;
}

.mywrapper {
  margin-left:130px;
  min-width:1000px;
  position:fixed;
}

.fixed {
  position:relative;
}
#highlights {
  border:3px solid red;
}

.logo {
  position: fixed;
  left:0;
  top:0;
  width:100px;
  height:125px;
  padding-left:10px;
  z-index:31;
/*
  background-image:url('../img/logo.png');
  background-repeat:no-repeat;
*/
}

.logo p {
  font-size:12px;
  margin-top:20px;
  margin-left:10px;
}

#container {
  height:750px;
  overflow: hidden;
  z-index:0;
}

#header {
  font-weight:bold;
}

#grid {
  position:absolute;
  width:98%;
  top:160px;
  left:10px;
/*  border-image:url('../img/rule.png') 30 30 round;  */
  border-top:15px;
  border-left:0px;
  border-right:0;
  border-bottom:0;
}

.row {
  display:block;
  position:relative;
  margin-left:0;
  margin-right:0;
  padding-bottom:0;
  background: #fff;
}

.row:hover {
  background: #EDEDED;
  color:red;
}

.row div:hover {
  border-top:1px solid #000;
  border-bottom:0px solid #000;
}

.row div {
  display:table-cell;
  position:relative;
  height:;20px;
  border-top:1px solid #424242;
  border-bottom:0px solid #a0a0a0;

}

.author {
  display:inline-block;
  position:relative;
  float:left;
  border-left:2px;
  font-size:.80em;

  color:#424242;
  padding:1px;
  height:100%;
  min-height:0;
  padding-left:4px;
  padding-right:4px;
  width:130px;
}
.authortop {
  border-right:0px solid #424242;
  border-top:1px solid #424242;
}

/*
  text-align:right;
  vertical-align: text-bottom;
  font-size:.9em;

}

.row span {
  display:inline;
}
*/

/*
.row:nth-of-type(odd) {
    background: #c3c3c3;
}
*/
.row div div {
  position:relative;
  min-width:9px;
  min-height:9px;
  float:left;
  border:1px solid #fff;
}

#detail, #words {
  display:none;
  position:absolute;
  width:160px;
  /*height:200px;*/
  z-index:20;
  border:2px solid #424242;
  padding:5px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  font-size:0.6em;
  font-weight:bold;
}
#words {
  background-color:#c3c3c3;
  font-size: 1em;
}

#topicsChart {
  position:relative;
  min-height:80px;
  background-color:#fff;
}
.topicsBar {
  display:block;
  min-height:15px;
  clear:both;
  border-bottom:1px solid #767575;
}
.topicsBar div{
  float:left;
  min-height:15px;
  padding-top:3px;
  border:1px solid #fff;
}
.topicsBar span{
  float:right;
  color:#767575;
  height:15px;
}


.detail-p  {
  float:left;
  padding:5px;
}

.detail-p img {
  height:40px;
}

#reader {
  display:none;
  position: fixed;
  top: 15%;
  left: 5%;
  width:80%;
  z-index:20;
  margin:10px;
  border:0px solid #0310FF;
  padding:15px;
  border:1px solid #000000;
}

#reader-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color:#fff;
  opacity:0.8;
  display: none;
  z-index: 19;
}

#reader-close {
  position:relative;
  width:50px;
  height:30px;
  border:0px solid red;
  float:right;
}

#reader-close img {
  position:relative;
}

#reader-close img:hover {
  padding:2px;
  border:1px solid #424242;
}

#reader-main, #meta {
  position:relative;
  width:35%;
  border:0px solid green;
  float:left;
  padding:15px;
  margin-right: auto;
  margin-left: auto;
}

#reader-main {
  width:60%;
  padding-top:30px;
  height:80%;
}

#reader-text {
  padding-top:20px;
}

#reader-main {
  overflow: auto;
}

.reader-p {
  min-height:100px;
  float:left;
  margin:15px;
  padding:10px;
}

#about {
  position: absolute;
  top: 0;
  left: 10px;
  width:80%;
  z-index:41;
  margin:0;
  border:0px solid red;
  padding-left:20px;
  border:0px solid red;
}

#about-overlay {
  position: fixed;
  top: 0;
  left: 0%;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color:#fff;
  opacity:1;
  z-index: 40;
}
.showabout {
    display:none;
}
    
.bgmeta {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 400px 30%;
}

.browser {
  display:inline;
  position:relative;
  width:100px;
  height:100px;
  z-index:20;
  margin:15px;
  border:1px solid #0310FF;
  padding:5px;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
}

.enlarge:hover {
  border:2px solid #004AFF;
}

#journey {
  display: none;
  position:absolute;
  width:1000px;
  height:653px;
  top:100px;
  left:100px;
  background-color:#fff;
  border:1px solid blue;
  overflow: hidden;
  opacity:0.4;
  z-index: 5;
}

.topic {
  display:inline;
  color:#000;
  border:1px solid #424242;
  padding:6px;
  margin-left:30%;
}

.c4  {background-color: #9966cc;}
.c5  {background-color: #66cccc;}
.c3  {background-color: #99cc66;}
.c2  {background-color: #cc6666;}
.c1  {background-color: #E78F39;}
.cC {background-color: #FFF;}
.c0  {background-color: #FFF;background-image:url('../img/7x7grey.png');}

#topicsView {
  z-index:30;
}

#topicsView li a {
  color:#000;
}

#topicsView li a:hover {
  color:#605959;
  font-weight:bold;
}

#showTopics4 { background-color: #9966cc;}
#showTopics5 { background-color: #66cccc;}
#showTopics3 { background-color: #99cc66;}
#showTopics2 { background-color: #cc6666;}
#showTopics1 { background-color: #E78F39;}

.nav-pills>li {
  z-index:20;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
  background-color: #424242;
}

.nav-pills>li>a  {
  color: #000;
}

.nav-pills>li.active>a:hover  {
  background-color: #9E9E9E;
}

.myactive  {
  background-color: #c3c3c3;
}

.bggrey {
  background-color: #e7e7e7;
}

/* Fonts */
#meta h1, #meta p, #store, small, #reader-main {
  /*display: inline;*/
  color:#000000;
  background-color:#ffffff;
  padding:10px;
}

#meta h1 {
  font-size:1.6em;
}

#store {
  padding:20px;
  font-size:1.2em;
}

#reader-buttons a, .row div {
  cursor:context-menu;
}

h1.myheader {
  color:#fff;
  background-color:#424242;
  margin:0;
  padding:6px;
  padding-left:10px;
  border-bottom:5px solid #fff;
}

p.myheader {
  color:#fff;
  background-color:#424242  ;
  margin:0;
  padding:6px;
  border-bottom:5px solid #fff;
}

.myheader a {
  color:#fff;
  background-color:#424242;
}

.topicsDia {
  font-size:14px;
}

.topicsDia table {
  font-size:10px;
  margin:15px;
}

.topicsDia table tr td{
  padding-right:7px;
  border-left:0px solid red;
  font-family:monospace;
}

table { 
  background-color:#fff;
}
tr {
  border-top:1px solid grey;
}
td { 
  padding-left:5px;
  padding-right:5px;
  height:17px;
}

tc {
  /*background-color:orange;*/
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
  display:inline-block;
  margin-top:2px;
  margin-bottom:2px;
  /*margin:2px 40% 2px auto;*/
  width:15px;
  height:15px; 
}

input {
  display:inline;
  width:43px;
}
.about {
  color:#fff;
  background-color:#424242;
  font-size:1.3em;
}

.help_note  {
  font-family: monospace;
  margin: auto;
  width: 60%;
  padding: 0;
  padding-top:20px;
  color:#424242;
  font-size:1.0em;
}

.help_note2 {
  float:right;
  color:#424242;
  font-size:0.8em;
  padding-left:40px;
  font-weight:italic;
}

h1.myheader {
  z-index:41;
}
