body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eee;
  }
  
#flyingdiv {
	position:absolute;
	width:9px;
	height:9px;
	font-size:0.7em;
	border:1px solid #000;
	z-index:20;
}


/*index*/
.diary-tile{
  display: inline-block;
  background-color:white;
  width:240px;
  margin:5px;
  padding:5px;
  }

.diary-tile.expand{
  width:100%;
  }

/*pages*/
.diary {
  width:1500px;
  float:left;
  margin:0;
  padding:0;
}

.meta{
  background-color:white;
  width:200px;
  float:left;
  font-size:0.5em;
  border-top:1px solid #000;
}

.pages {
  position:relative;
  display: flex;  /* CSS3 */
  width:1200px;
  float:left;
  border-top:1px solid #000;
  background-color:transparent;
}

.pages img {
  vertical-align: text-top;#7F7F7F
  z-index:10;
}

/*timeline*/
.timeline {

}
.line {
  position: absolute;
  height:15px;
}
.meta_line {
  color:#7F7F7F;
}
/*chart*/
#image_chart{
  width:100%;
  }
.barcontainer {
  width:30%;
}  
.bar{
  height:15px;
  margin: 0 0 5px 0;
  float:left;
  }

.label{
  font-size:0.8em;
  float:left;
  width:120px;
  }

/* Reader */
#reader {
    border-bottom:5px solid #ccc;
}
.detail {
  width:100%;
  border:1px solid #ccc;
  }

#pagemetadata {
  position:relative;
  float:left;
  width:20%;
  border-right:1px dashed #333;
  }
.thumb {
  width:80px;
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
  }
.thumb:focus{
    width:280px;
    border:2px solid #ccc;
}

/* general */
.clear {
  clear:both;
  }
.left {
  float:left;
  }
