<!DOCTYPE html>
<html lang="en" ng-app="library">
<head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/main_angularjs-small.css">
		<script src="data/dataDiaries-small.js"></script>
		<script src="data/topicsDummy.js"></script>
</head>
<body>
	<div ng-controller="DiariesController as diaries" ng-init="order='page_no'" class="mywapper">
      <div class="myorders">
        <p>Diaries in SVG:</p>
        <ul class="nav nav-pills">
          <li role="presentation" data-toggle="pill" class="active"><a href="#by-page_no" ng-click="order='page_no'">by page_no </a></li>
          <li role="presentation" data-toggle="pill"><a href="#by-kind" ng-click="order='kind'">by kind</a></li>
        </ul>
      </div>
      <div class="myorders">
        <p>Highlight pages</p>
        <ul class="nav nav-pills">
          <li role="presentation" data-toggle="pill" class="active"><a href="#by-page_no" ng-click="order='page_no'">by page_no</a></li>
          <li role="presentation" data-toggle="pill"><a href="#by-kind" ng-click="order='kind'">by kind</a></li>
        </ul>
      </div>
      <div style="clear:both;height:30px;"></div>
      <div id="container">
        <div id="grid"></div>
        <div id="detail">www</div>
      </div>
	</div>

	<!-- Javascript' guest stars: -->
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  <script>
  $(function(){ 
    // Grid builder
    var c = 0;
    $.each(topicMatrix, function(i, row) {
      //console.log("row: "+row+" | i: "+i);
      $.each(row, function(j, column) { 
        if (column == 1) {
          var coord = getCoordinates(i, j);
          $("#grid").append("<div id='"+i+"x"+j+"' class='pp' style=\"top:"+coord[1]+"px;left:"+coord[0]+"px;\"></div>");
        //console.log("i: "+i+" | coord[0]: "+coord[0]+" | j: "+j+" | coord[1]: "+coord[1]);
        }
        //console.log("column: "+column+" | j: "+j);
        c += 1;
      })
    })
    $(".pp")
      .mouseover(function() {
        var pos = $(this).position();
        $("#detail").css("display","block").css("top",pos.top+"px").css("left",pos.left+"px");
      })
      .mouseout(function() {
        $("#detail").css("display","none");
      });
    
    //console.log("counter: "+c);

    function xx() {
      $(".reader").click(function(){
					  console.log("XXXXX");
					  return d3.selectAll("rect.reader").remove();
		  });
		  }

      function getCoordinates(diaryId, pageNo)  {
        var column = diaryId*5;
        var row = pageNo*7;
        return [column,row];
      }
  });
  </script>
</body>
</html>

