  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">diggersdiaries.org :: World War I Diaries</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">welcome</a></li>
          <li  class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="reader.html">Read diaries</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="pages.html">Explore by pages</a></li>
              <li><a href="timeline.html">Explore by time</a></li>
              <li><a href="diaries.html">Explore by diary</a></li>
            </ul>
          </li>
          <li><a href="index.html##about">about</a></li>
          <li><a href="index.html##credits">credits</a></li>
          <li><a href="index.html##contact">contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>



<!--
  <h3><a href="#/topicGroup-0.3-all">All 30%</a> - <a href="#/topicGroup-0.02-all">All 20%</a> - <a href="#/topicGroup-0.02-1Personal">Personal</a> - <a href="#/topicGroup-0.02-2War">War</a> - <a href="#/topicGroup-0.02-3Mil">Militar life</a> - <a href="#/topicGroup-0.02-4Travelling">Travelling</a> - <a href="#/topicGroup-0.02-5Tourist">Tha accidental tourist</a></h3>
  
<!-- NOT WORKING IF THIS CODE IS HERE. IT WORKS IF IT IS IN THE MAIN FILE ??
  <h3>Order diaries by: 
    <select ng-model="orderField">
      <option value="author">Author</option>
      <option value="start_date[0].start_year">Date</option>
      <option value="chart[0]">Topic</option>
    </select>
  </h3>
-->
