<div>
  <h3><a href="#/topicGroup-0.3-all">All 30%</a> - <a href="#/topicGroup-0.02-all">All 20%</a> - <a href="#/topicGroup-0.02-1Personal">Personal</a> - <a href="#/topicGroup-0.02-2War">War</a> - <a href="#/topicGroup-0.02-3Mil">Militar life</a> - <a href="#/topicGroup-0.02-4Travelling">Travelling</a> - <a href="#/topicGroup-0.02-5Tourist">Tha accidental tourist</a></h3>
  <h3>Order diaries by: 
    <select ng-model="orderField">
      <option value="author">Author</option>
      <option value="start_date[0].start_year">Date</option>
      <option value="chart[0]">Topic</option>
    </select>
  </h3>
</div>
