
<div id="reader">
  <div id="pagemetadata">
    <img class="thumb" src="img/nopage.jpg" /> <!-- FIXME Add dinamyc page src and nopage if no image found-->>
    <p>{{d.title}}</p>
    <p>{{d.start_date[0].start_year}}-{{d.end_date[0].end_year}}</p>
    <p>{{d.focusPageIndex+1}} of the {{d.page_no}}</p>
    <p>Page chart:</p>
  </div>
  <div class="buttons">
    <p> - 
    Jump to: 
      <button>same topicGroup</button> 
      <button>same topic name</button> 
      <button>same author</button> 
      <button>similar date</button> 
      <button>random page</button>
    </p>
    <p>this diary: 
    	<button ng-click="setFocusPage(d,d.focusPageIndex-1)">Prev</button>
      <button ng-click="d.expand = false;">Close</button>
    	<button ng-click="setFocusPage(d,d.focusPageIndex+1)">Next</button>
    </p> 
  </div>
  <div class="page" ng-include="'data/3-Transcriptions/'+d.nid+'/'+d.pages[d.focusPageIndex].id+'.txt'">	
  </div>
</div>  
